@font-face { 
font-family: "good-times"; 
src: url("../fonts/good-times/good-times-rg.ttf"); 
}

@font-face { 
font-family: "unlearned"; 
src: url("../fonts/unlearned/unlearne.ttf"); 
}


@font-face { 
font-family: "enigma"; 
src: url("../fonts/enigma/homespun.ttf"); 
}



